snippet wf
	while ( $${1:row}  = mysql_fetch_array( $${2:rs}, MYSQL_ASSOC)) {
		${3:// code...}
	}
snippet myfetch
	mysql_fetch_array( $${1:rs}, MYSQL_ASSOC)
snippet row
	<?= $row["${1}"] ?>
snippet page
	<?= $page["${1}"] ?>
snippet pre
	echo "<pre>${1}</pre>";
snippet code
	echo "<code>${1}</code>";
snippet <?inc
	<? include('${1}'); ?>
